@import "./foundations/reset";
@font-face {
  font-family: "Asgard";
  src: url('/fonts/Asgard-Variable-Roman.ttf') format('truetype-variations');
}
@font-face {
  font-family: "CodecPro";
  src: url('/fonts/Codec-Pro-Variable-Regular.ttf') format('truetype-variations');
}

body {
  font-family: "CodecPro", Arial, Helvetica, sans-serif;
  background: #171717;
  overflow-x: clip;
}

.no-scroll, .no-scroll body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
